body{
margin:0;
font-family:Arial;
text-align:center;
background:linear-gradient(rgba(255,255,255,.85),rgba(255,255,255,.95));
}

.hero{
padding:20px;
}

.logo{
width:95%;
max-width:700px;
}

.floatButton{
margin-top:70px;
margin-bottom:20px;
}

.callButtonSmall{
background:green;
color:white;
padding:14px 28px;
border-radius:40px;
font-size:20px;
font-weight:bold;
text-decoration:none;
display:inline-block;
border:3px solid gold;
box-shadow:0px 6px 20px rgba(0,0,0,.3);
}

.callButtonBig{
display:inline-block;
margin-top:20px;
background:green;
color:white;
padding:18px 60px;
border-radius:50px;
font-size:28px;
font-weight:bold;
text-decoration:none;
border:3px solid gold;
box-shadow:0px 10px 25px rgba(0,0,0,.3);
}

.services{
margin-top:20px;
padding:20px;
background:white;
border-radius:20px;
margin-left:10px;
margin-right:10px;
box-shadow:0px 10px 30px rgba(0,0,0,.2);
}

.services h2{
color:purple;
font-size:28px;
margin-bottom:5px;
}

.services h3{
color:gray;
margin-bottom:20px;
}

.serviceGrid{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

.serviceBox{
background:#f6f6f6;
padding:15px;
border-radius:12px;
box-shadow:0px 3px 10px rgba(0,0,0,.1);
}

.serviceBox h4{
color:purple;
margin-bottom:6px;
}

.areas{
margin-top:20px;
padding:10px;
font-size:20px;
}

.footerCall{
margin-top:30px;
padding:20px;
}

.numberBig{
font-size:32px;
font-weight:bold;
color:purple;
}

.numberSmall{
font-size:20px;
margin-top:5px;
}